<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/antiv.css">
    <title>Антивирусы</title>
</head>
<body>
    <header>
        <a href="/">Главная</a>
        <a href="Кибербезопасность">Кибербезопасность</a>
        <a href="Хакинг">Хакинг</a>
        <a href="Антивирусы">Антивирусы</a>
    </header>
    <div class="content">
        <h1>Антивирусное программное обеспечение</h1>
        <div class="block1"></div>
            <div class="text1">
                <p><b>Антивирусное программное обеспечение</b> создано для профилактики, выявления и уничтожения компьютерных вирусов. Способы обнаружения и лечения зараженных файлов могут быть разными. В любом случае при обнаружении заражения какого-либо файла антивирус пытается удалить из него вредоносный код и, если это сделать невозможно, удаляет файл полностью.</p>
            </div>
            <img src="../img/antiv1.png">
        </div>
        <div class="zag">
            <h1>Типы антивирусного ПО</h1>
        </div>
        <div class="block2">
            <div class="list">
                <li>Сканеры. После запуска сканируют файловую систему и ОЗУ (оперативную память) ПК и нейтрализуют найденные вирусы.</li>
                <li>Мониторы (сторожа). Отслеживают запускаемые на компьютере процессы в реальном времени.</li>
                <li>Полифаги. Наиболее эффективные, универсальные решения. Сканируют запускаемые файлы и загрузочные секторы жестких дисков на предмет появления новых вирусов.</li>
                <li>Блокировщики. Могут обнаружить компьютерный вирус на ранней стадии заражения ПК (при его записи в загрузочный сектор жесткого диска).</li>
                <li>Ревизоры. Создают базу сведений о параметрах файлов и контролируют их изменение. Не могут находить вирусы в новых файлах, так как не имеют о них данных в своей базе.</li>
            </div>
        </div>
        <div class="text1">
            <p>Блокировщики часто входят в BIOS (Basic Input-Output system – базовая система ввода/вывода, которая хранится на микросхеме материнской платы). Полифаги наиболее «тяжеловесные», они занимают много места на диске и «съедают» большой объем оперативной памяти.</p>
        </div>
        <div class="zag">
            <h1>Разновидности защит</h1>
        </div>
        <div class="text1">
            <p>В зависимости от типа угрозы (известная или неизвестная конкретному ПО) антивирус может осуществить проактивную или реактивную защиту:</p>
        </div>
        <div class="block2">
            <div class="list">
                <li>Проактивная защита (эвристика). Защита от неизвестных вирусов, основанная на изучении кода и поведения программ, характерных для вредоносного ПО. Такой тип защиты показывает лучший результат при борьбе с модифицированными вирусами. За основу принимаются данные об уже существующих угрозах.Эвристика в антивирусном контексте — набор правил, которые используются для обнаружения действий вредоносных программ без необходимости определения конкретной угрозы.</li>
                <li>Реактивная защита (вирусная сигнатура). Защита от уже известных вирусов, основанная на информации о коде и остальных особенностях вредоносного ПО. Для максимально эффективной работы такие антивирусы должны постоянно обновлять свои базы данных вирусных сигнатур.Защита, основанная на вирусных сигнатурах подразумевает обращение к словарю с уже известными вирусами, которые составили разработчики антивирусного ПО.</li>
            </div>
        </div>
        <div class="text1">
            <p>Главный недостаток проактивной защиты — так называемые «ложные срабатывания», частые блокировки незараженного программного обеспечения. Минус реактивной защиты — невозможность защититься от новых угроз. В современном антивирусном ПО используется и проактивная, и реактивная защита.</p>
            <p>Как только антивирус обнаруживает вредоносный код, он может выполнить следующие действия (в зависимости от настроек пользователя):</p>
        </div>
        <div class="block2">
            <div class="list">
                <li>Попытаться «вылечить» зараженный файл, убрав из него вредоносный код.</li>
                <li>Отправить инфицированный файл в карантин. Актуально для ценных пользователю файлов. Находясь в карантине, зараженный файл не сможет навредить ПК; позже его можно вылечить самостоятельно или с помощью сторонних специалистов.</li>
                <li>Удалить зараженный файл. Если исправить код не удалось, файл можно безвозвратно удалить с жесткого диска.</li>
                <li>Не выполнять никаких действий. Если предполагается, что файл был помечен как «вредоносный» по ошибке, можно добавить этот файл в список исключений антивируса.</li>
            </div>
        </div>
        <div class="text1">
            <p>Полноценное антивирусное ПО защищает компьютер в режиме реального времени постоянно. То есть антивирус загружается вместе с ОС, всегда держит под контролем ОЗУ и файловую систему ПК, а также проводит мониторинг всех запускаемых и скачиваемых программ. Антивирусное программное обеспечение значительно снижает риск потери ценных данных, а также предотвращает попадание на ПК вредоносного ПО.</p>
        </div>
        <div class="zag">
            <h1>Лучшие антивирусы</h1>
        </div>
        <div class="antivirus">
            <a href="https://support.avast.com/ru-ru/index/">
                <img src="../img/avast.png">
                <h2>Avast free antivirus</h2>
            </a>
            <a href="https://support.avg.com/?l=ru">
                <img src="../img/avg-logo.png">
                <h2>AVG Internet Security</h2>
            </a>
            <a href="https://www.avira.com/ru/internet-security">
                <img src="../img/avira.png">
                <h2>Avira Internet Security</h2>
            </a>
            <a href="https://www.kaspersky.ru/antivirus">
                <img src="../img/KAV.png">
                <h2>Kaspersky Anti-Virus</h2>
            </a>
            <a href="https://download.drweb.ru/">
                <img src="../img/dw.png">
                <h2>Dr.Web</h2>
            </a>
        </div>
        <div class="zag">
            <h2><i>А лучше пользуйтесь антивирусом вашей ОС</i></h2>
        </div>
    </div>
    <footer>
        <h1>Будьте внимательны к тому, что смотрите!</h1>
    </footer>
</body>
</html>