<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Главная</title>
</head>
<body>
    <header>
        <a href="/">Главная</a>
        <a href="Кибербезопасность">Кибербезопасность</a>
        <a href="Хакинг">Хакинг</a>
        <a href="Антивирусы">Антивирусы</a>
    </header>
    <div class="content">
        <div class="text">
            <p><b>Кибербезопасность</b> (ее иногда называют компьютерной безопасностью) – это совокупность методов и практик защиты от атак злоумышленников для компьютеров, серверов, мобильных устройств, электронных систем, сетей и данных.</p>
        </div>
        <a class="kb" href="Кибербезопасность">
            <h1 class="kb_text">Кибербезопасность</h1>
            <img src="../img/kb.jpg">
        </a>
        <div class="text">
            <p><b>Хакер</b> — особый тип компьютерных специалистов. Иногда этот термин применяют для обозначения специалистов вообще — в том контексте, что они обладают очень детальными знаниями в каких-либо вопросах, или имеют достаточно нестандартное и конструктивное мышление. С момента появления этого слова в форме компьютерного термина (произошедшего в 1960-е годы), у него появлялись новые, часто достаточно различные значения.</p>
        </div>
        <a class="hak" href="Хакинг">
            <h1 class="hak_text">Хакинг</h1>
            <img src="../img/hak.jpg">
        </a>
        <div class="text">
            <p><b>Антивирус</b> — это средство защиты оборудования с программным обеспечением от вредоносного кода (вирусов).</p>
        </div>
        <a class="antiv" href="Антивирусы">
            <h1 class="antiv_text">Антивирусы</h1>
            <img src="../img/antiv.jpg">
        </a>
        <div class="text">
            <p><b>„Продолжайте учиться. Узнайте больше о компьютерах, ремеслах, садоводстве, о чем угодно. Никогда не оставляйте мозг в лености. «Праздный мозг — мастерская дьявола». А имя дьявола — Альцгеймер.“</b></p>
            <p><i>—  Джордж Карлин</i></p>
        </div>
    </div>
    <footer>
        <h1>Будьте внимательны к тому, что смотрите!</h1>
    </footer>
</body>
</html>