<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/kb.css">
    <title>Кибербезопасность</title>
</head>
<body>
    <header>
        <a href="/">Главная</a>
        <a href="Кибербезопасность">Кибербезопасность</a>
        <a href="Хакинг">Хакинг</a>
        <a href="Антивирусы">Антивирусы</a>
    </header>
    <div class="content">
        <div class="block1">
            <div class="img">
                <img src="../img/kbimg1.jpg">
            </div>
            <div class="textbl1">
                <p><b>Кибербезопасность</b> (ее иногда называют компьютерной безопасностью) – это совокупность методов и практик защиты от атак злоумышленников для компьютеров, серверов, мобильных устройств, электронных систем, сетей и данных.</p> 
                <p>Кибербезопасность находит применение в самых разных областях, от бизнес-сферы до мобильных технологий. В этом направлении можно выделить несколько основных категорий.</p>
            </div>
        </div>
        <div class="block2">
            <div class="list">
                <li><b>Безопасность сетей</b>– действия по защите компьютерных сетей от различных угроз, например целевых атак или вредоносных программ.</li>
                <li><b>Безопасность приложений</b>– защита устройств от угроз, которые преступники могут спрятать в программах. Зараженное приложение может открыть злоумышленнику доступ к данным, которые оно должно защищать. Безопасность приложения обеспечивается еще на стадии разработки, задолго до его появления в открытых источниках.</li>
                <li><b>Безопасность информации</b>– обеспечение целостности и приватности данных как во время хранения, так и при передаче.</li>
                <li><b>Операционная безопасность</b>– обращение с информационными активами и их защита. К этой категории относится, например, управление разрешениями для доступа к сети или правилами, которые определяют, где и каким образом данные могут храниться и передаваться.</li>
                <li><b>Аварийное восстановление и непрерывность бизнеса</b> – реагирование на инцидент безопасности (действия злоумышленников) и любое другое событие, которое может нарушить работу систем или привести к потере данных. Аварийное восстановление – набор правил, описывающих то, как организация будет бороться с последствиями атаки и восстанавливать рабочие процессы. Непрерывность бизнеса – план действий на случай, если организация теряет доступ к определенным ресурсам из-за атаки злоумышленников.</li>
                <li><b>Повышение осведомленности</b>– обучение пользователей. Это направление помогает снизить влияние самого непредсказуемого фактора в области кибербезопасности – человеческого. Даже самая защищенная система может подвергнуться атаке из-за чьей-то ошибки или незнания. Поэтому каждая организация должна проводить тренинги для сотрудников и рассказывать им о главных правилах: например, что не нужно открывать подозрительные вложения в электронной почте или подключать сомнительные USB-устройства.</li>
            </div>
        </div>
        <div class="block3">
            <div class="zag"></div>
                <h1>Масштаб распространения киберугроз</h1>
            </div>
            <div class="textbl3">
                <p>Год за годом в мире становится все больше угроз и происходит все больше утечек данных. Статистика шокирует: согласно отчету RiskBased Security, только за первые девять месяцев 2019 года было зафиксировано 7,9 миллиардов случаев утечки данных. Эти цифры превышают показатели за тот же период 2018 года более чем в два раза (на 112 %).</p>
                <p>Чаще всего утечке данных подвергаются медицинские и государственные учреждения или организации из сферы розничной торговли. В большинстве случаев причина – действия преступников. Некоторые организации привлекают злоумышленников по понятной причине – у них можно украсть финансовые и медицинские данные. Однако мишенью может стать любая компания, ведь преступники могут охотиться за данными клиентов, шпионить или готовить атаку на одного из клиентов.</p>
                <p>Компания International Data Corporation прогнозирует, что если количество киберугроз будет расти и дальше, то объем расходов на решения в области кибербезопасности к 2022 году достигнет 133,7 миллиардов долларов США. Правительства разных стран борются с преступниками, помогая организациям внедрять эффективные методы кибербезопасности.</p>
                <p>Так, Национальный институт стандартов и технологий США (National Institute of Standards and Technology, NIST) разработал принципы безопасной IT-инфраструктуры. NIST рекомендуют проводить постоянный мониторинг всех электронных ресурсов в реальном времени, чтобы выявить вредоносный код, пока он не нанес вреда, и предотвратить его распространение.</p>
                <p>Национальный центр кибербезопасности (National Cyber Security Centre) правительства Великобритании выпустил руководство 10 steps to cyber security (10 шагов к кибербезопасности). В нем говорится о том, насколько важно вести наблюдение за работой систем. В Австралии рекомендации по борьбе с новейшими киберугрозами регулярно публикует Австралийский центр кибербезопасности (Australian Cyber Security Centre, ACSC).</p>
            </div>
            <div class="zag">
                <h1>Виды киберугроз</h1>
            </div>
            <div class="block4">
                <div class="textbl4">
                    <p class="pbl4">Кибербезопасность борется с тремя видами угроз.</p>
                    <p><b>Киберпреступление</b>– действия, организованные одним или несколькими злоумышленниками с целью атаковать систему, чтобы нарушить ее работу или извлечь финансовую выгоду.</p>
                    <p><b>Кибератака</b> – действия, нацеленные на сбор информации, в основном политического характера.</p>
                    <p><b>Кибертерроризм</b> – действия, направленные на дестабилизацию электронных систем с целью вызвать страх или панику.</p>
                </div>
            </div>
            <div class="zag">
                <h1>Как защититься от атак: полезные советы по кибербезопасности</h1>
            </div>
            <div class="bl5p">
                <p class="pbl4">Предлагаем вам советы о том, как оградиться от киберугроз.</p>
            </div>
            <div class="block5">
                <div class="list">
                    <li><b>Обновите программное обеспечение и операционную систему</b>. Используя новое ПО, вы получаете свежие исправления безопасности.</li>
                    <li><b>Используйте антивирусные программы</b>. Защитные решения, такие как Kaspersky Total Security, помогут выявить и устранить угрозы. Для максимальной безопасности регулярно обновляйте программное обеспечение.</li>
                    <li><b>Используйте надежные пароли</b>. Не применяйте комбинации, которые легко подобрать или угадать.</li>
                    <li><b>Не открывайте почтовые вложения от неизвестных отправителей</b> – они могут быть заражены вредоносным ПО.</li>
                    <li><b>Не переходите по ссылкам, полученным по почте от неизвестных отправителей или неизвестных веб-сайтов</b> – это один из стандартных путей распространения вредоносного ПО.</li>
                    <li><b>Избегайте незащищенных сетей Wi-Fi в общественных местах</b> – в них вы уязвимы для атак Man-in-the-Middle.</li>
                </div>
            </div>
            <div class="cit">
                <p><i>«Даже самая смелая киберзащита потерпит поражение, если пренебречь слабыми местами».</i> <b>―Стефан Наппо</b></p>
            </div>
        </div>
    </div>
    <footer>
        <h1>Будьте внимательны к тому, что смотрите!</h1>
    </footer>
</body>
</html>